# Super Reboot - Python Basics

This is a set of small independent assignments to recap the concepts of the day.

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [6]:
country = "Kenya"
country

'Kenya'

Create an `animal` variable and assign your favorite animal to it. Print it

In [7]:
animal = "Zebra"
animal

'Zebra'

Create an `animal_count` variable with any positive integer in it. Print it

In [8]:
animal_count = 4
animal_count

4

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [9]:
print(f'I just ordered {animal_count} {animal}s from {country}')

I just ordered 4 Zebras from Kenya

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [11]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")

Variables are now defined!

Look at the following code. Replace the `?` with the correct data type each time (`str`, `float`, `list`). 

The cell should display `True` when you put in the right datatypes.

In [12]:
type(pi) == float \
and type(food) == str \
and type(colors) == list

True

Let's try to work with other datatypes. This time there's no hint.

In [13]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic')
age = 25
age_valid = age < 18
print("Variables are now defined!")

Variables are now defined!

Let's repeat the excercise from before with the new variables. Once again, the cell should display `True` when you're done.

In [14]:
type(shapes) == tuple \
and type(user_profile) == dict \
and type(age_valid) == bool

True

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industry:

- Airline
- Visa
- Mastercard
- Other

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [22]:
# def credit_card_industry(card_number):
#     if card_number.startswith("1"):
#         return "Airline"
#     if card_number.startswith("4"):
#         return "Visa"
#     if card_number.startswith("5"):
#         return "Mastercard"
#     else:
#         return "Other"
    
def credit_card_industry(card_number):
    industries = {
        "1": "Airline",
        "4": "Visa",
        "5": "Mastercard"
    }
#     return industries[card_number[0]]
    return industries.get(card_number[0], "Other")

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [23]:
print(credit_card_industry("4539 0132 4843 4768"))
print(credit_card_industry("5131 9376 6800 4058"))
print(credit_card_industry("3762 8789 1971 1060"))
print(credit_card_industry("1002 0494 8191 1719"))

Visa
Mastercard
Other
Airline

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [25]:
genres = ["drama", "horror", "comedy"]
genres

['drama', 'horror', 'comedy']

Add another genre to the list. Print the whole list.

In [26]:
genres.append("romcom")
genres

['drama', 'horror', 'comedy', 'romcom']

Change the name of the second genre on the list. Print the whole list

In [27]:
genres[1] = "thriller"
genres

['drama', 'thriller', 'comedy', 'romcom']

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [34]:
for index, movie in enumerate(sorted(genres)):
    print(f'{index + 1} - {movie.capitalize()}')
# type(sorted(genres))

1 - Comedy
2 - Drama
3 - Romcom
4 - Thriller

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title`with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [36]:
movie = {
    "year": "1972",
    "title": "The God Father"
}
movie

{'year': '1972', 'title': 'The God Father'}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [37]:
movie["director"] = "Francis Ford Coppola"
movie

{'year': '1972', 'title': 'The God Father', 'director': 'Francis Ford Coppola'}

Create a `movies` variable and initialize it with an empty list.

In [42]:
movies = []
movies

[]

Add your `movie` to the list and two more movies, with the same keys as the first one. Then print the entire list

In [43]:
movie2 = {
    "year": "1984",
    "title": "Terminator",
    "director": "James Cameron"
}

movie3 = {
    "year": "1999",
    "title": "Matrix",
    "director": "The Wachowski Brothers"
}

# movies = [movie, movie2, movie3]
movies.append(movie)
movies.append(movie2)
movies.append(movie3)
movies

[{'year': '1972',
  'title': 'The God Father',
  'director': 'Francis Ford Coppola'},
 {'year': '1984', 'title': 'Terminator', 'director': 'James Cameron'},
 {'year': '1999', 'title': 'Matrix', 'director': 'The Wachowski Brothers'}]

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppolla was released in 1972
The Matrix by The Wachowski Brothers was released in 1999
```

In [44]:
for film in movies:
    print(f'{film["title"]} by {film["director"]} was released in {film["year"]}')

The God Father by Francis Ford Coppola was released in 1972
Terminator by James Cameron was released in 1984
Matrix by The Wachowski Brothers was released in 1999

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely get it. Start by running the cell below:

In [45]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
print("movie is defined!")

movie is defined!

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [47]:
movie['title']['fr']

'Le Chevalier Noir'

What does `movie['title']['es']` return?

In [48]:
movie['title']['es']

KeyError: 'es'

What does `movie['actors']['support'][2]` return?

In [49]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}

movie['actors']['support'][2]

'Gary Oldman'

### Optional 

Find a way to extract one list containing all the actors from the movie.

In [53]:
actors = movie['actors']['lead'] + movie['actors']['support']
actors

['Christian Bale',
 'Heath Ledger',
 'Aaron Eckhardt',
 'Morgan Freeman',
 'Gary Oldman',
 'Maggie Gyllenhaal']

Try to calculate the total box office of the movie from `movie`

In [55]:
movie['box office USD']['USA'] + movie['box office USD']['rest_of_world']

1004934033

Would the code above still work with the following Box Office. How would you compute the total Box Office using a `for` loop?

In [56]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

{'US': 200000000, 'EU': 85000000, 'China': 110000000}

In [62]:
turn_over = 0
for money in list(box_office.values()):
    turn_over +=  money
turn_over

# for key in box_office:
#     turn_over +=  box_office[key]
# turn_over

395000000

In [3]:
one_more_thing = "Come to Yann's talk!!"
one_more_thing

"Come to Yann's talk!!"